# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilación TypeScript
dist/
build/
*.js.map

# Variables de entorno
.env
.env.local
.env.*.local

# Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
logs/
*.log
